/*This section contains the id's*/

html{
  overflow:auto;
}

html,body{
  display:inline-block;
  height:100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover {
    background-color:#111;
}

#intro{
  display: inline-block;
  min-width:100%;
  border-bottom: 2px solid #000066;
  /*border-top: 1px solid #000066;*/
  background-color: #c1f0e4;
}


#website_container{
  display: inline-block;
  padding:20px;
}

/*This section contains the classes */

.intro{
  margin: 20px;
}

.website_unit{
  margin-left:20px;
  font-size:30px;
}
